---
import Layout from '../layouts/Layout.astro';
import ValueProposition from '../components/home/ValueProposition.astro';
import FeaturedEditorial from '../components/home/FeaturedEditorial.astro';
import CuratedStacks from '../components/home/CuratedStacks.astro';
import Methodology from '../components/home/Methodology.astro';
import Layout from '../layouts/Layout.astro';
import ValueProposition from '../components/home/ValueProposition.astro';
import FeaturedEditorial from '../components/home/FeaturedEditorial.astro';
import CuratedStacks from '../components/home/CuratedStacks.astro';
import Methodology from '../components/home/Methodology.astro';
---

<Layout title="CasiLocal | The Directory for Remote Work in Madrid">
  <main class="w-full">
    <ValueProposition />
    <FeaturedEditorial />
    <CuratedStacks />
    <Methodology />
  </main>
</Layout>
