---
import { Image } from 'astro:assets';

interface Props {
  images?: ImageMetadata[];
  title: string;
}

const { images, title } = Astro.props;
---

{images && images.length > 0 ? (
  <div class="columns-1 md:columns-2 gap-4 space-y-4">
    {images.map((img, index) => (
      <div class="break-inside-avoid relative group">
        <Image 
          src={img} 
          alt={`${title} Evidence ${index + 1}`}
          class="w-full border border-line-heavy grayscale hover:grayscale-0 transition-all duration-300 rounded-sm"
        />
        <span class="font-mono text-[10px] bg-text-main text-text-inv inline-block px-1.5 py-0.5 absolute bottom-[-8px] left-2 z-10 shadow-sm rotate-1">
            EVIDENCE #{index + 1}
        </span>
      </div>
    ))}
  </div>
) : (
    <div class="p-8 border-2 border-dashed border-line-heavy/20 rounded-sm text-center">
        <p class="font-mono text-xs text-text-main/40 uppercase">No visual evidence on file.</p>
    </div>
)}
