---
interface Option {
  label: string;
  value: string;
}

interface Props {
  legend: string;
  name: string;
  options: Option[];
  defaultValue?: string;
}

const { legend, name, options, defaultValue } = Astro.props;
---

<fieldset class="flex flex-col gap-1">
  <legend class="sr-only">{legend}</legend>
  <div class="flex border border-line-heavy divide-x divide-line-heavy bg-bg-main rounded-xs overflow-hidden">
    {options.map((opt) => (
      <label class="relative flex-1 cursor-pointer group">
        <input 
          type="radio" 
          name={name} 
          value={opt.value} 
          checked={opt.value === defaultValue}
          class="peer sr-only"
        />
        <div class="px-3 py-1.5 text-center transition-colors duration-100 ease-mechanical bg-bg-main text-text-main group-hover:bg-text-main/5 peer-checked:bg-text-main peer-checked:text-text-inv peer-focus-visible:z-10 peer-focus-visible:outline-2 peer-focus-visible:outline-dashed peer-focus-visible:outline-text-main peer-focus-visible:outline-offset-[-2px]">
          <span class="font-body text-xs font-medium uppercase tracking-wide">
            {opt.label}
          </span>
        </div>
      </label>
    ))}
  </div>
</fieldset>
